.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

#NavBarLink {
	margin-left: 10px;
	color: black;
}

#MediaContactDIV i {
	padding-left: 20px;
	color: black;
}

#MediaContactDIV i:hover {
	color: grey;
}

/*Styles social media contact logos*/
#MediaContactDIV {
	padding-left: 40px;
}
/*styles navbar links*/
#NavBarLink:hover {
	text-decoration: underline 4px;
	color: #156209;
}

/*Home page carousel div*/
#CarouselDIV {
	overflow: hidden;
	background: black;
	height: fit-content;
	position: relative;
}

/*Changes opacity of Home page carousel IMGs*/
#CarouselIMG {
	opacity: 0.7;
	width: 100%;
	height: 95vh;
}

/*Defines text that goes over home page image*/
#CarouselTextCard {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: bold;
	padding: 40px;
	background: #00000081;
	border-radius: 5px;
}

/*'Who are we' and 'Our partners' div styling*/
#WhoAreWeDIV,
#PatnersDIV {
	background: linear-gradient(#156209, #a5930f);
	color: white;
	overflow: auto;
}

#WhoAreWeDIV {
	padding-bottom: 70px;
}
/*Styles 'what we do' img*/
#WhatWeDoIMG {
	width: 500px;
	height: 500px;
}

/*animate "what we do" div*/
#WhatWeDoDIV {
	animation: 1s ease-out 0s 1 slideInLeft;
}

/*Styles the 'What we do' Div*/
.projects {
	padding: 20px;
	border: 1px solid #156209;
	overflow: auto;
}

/*Styles 'read more' button on home page carousel*/
#read_more_btn {
	border: 3px solid white;
	padding: 10px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#read_more_btn:hover {
	background: #a5930f;
	border: none;
	color: aliceblue;
}

.projects:hover {
	background: #156209;
	border: 1px solid white;
	color: white;
	cursor: pointer;
}

/*Styles the 'Specific partners card' Div*/
#PatnersDIV .card {
	bottom: 30px;
	width: fit-content;
	color: black;
	margin-left: 50px;
	border-radius: 0%;
}

/*Styles the card that holds partners' logos*/
#PatnersDIV .card img {
	width: 150px;
	height: 100px;
}

#PatnersDIV .card img:hover {
	opacity: 0.4;
}

/*Styles 'scroll to top'button*/
#ScrollUpBtn {
	position: fixed;
	bottom: 40%;
	right: 30px;
	z-index: 99;
	font-size: 50px;
	color: black;
	cursor: pointer;
	padding: 10px;
	justify-content: center;
	border-radius: 30px;
}
#ScrollUpBtn:hover {
	color: grey;
}
#MapDiv {
	width: 100vh;
	height: 60vh;
}
p {
	font-size: medium;
}
i {
	font-size: x-large;
}

#FooterDIV {
	box-shadow: 1px -2px 5px grey;
}

@keyframes slideInLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
